<p style="color: green"><%= notice %></p>

<h1>Wxes</h1>

<div id="wxes">
  <% @wxes.each do |wx| %>
    <%= render wx %>
    <p>
      <%= link_to "Show this wx", wx %>
    </p>
  <% end %>
</div>

<%= link_to "New wx", new_wx_path %>
