<div class="container">

  <div class="row">
    <div class="col">
      Instructions:<br>
      Enter an address, get the weather in that location.
    </div>
    <div class="col">
      <%= render "form", wx: @wx %>
    </div>
  </div>

</div>
